.header {
  padding: 36px 120px;
  max-width: 1455px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include for-small-desktop {
    padding: 36px;
    flex-wrap: wrap;
  }

  @include for-tablet {
    padding: 20px;
    gap: 20px;
  }

  &__navigation {
    margin-right: 150px;

    @include for-small-desktop {
      margin-right: 50px;
    }

    @include for-tablet {
      margin-right: 0;
    }
  }

  &__social {
    margin-right: 56px;

    @include for-small-desktop {
      margin-right: 30px;
    }

    @include for-tablet {
      margin-right: 0;
    }
  }

  &__logo {
    margin-right: 98px;

    @include for-small-desktop {
      margin-right: 40px;
    }

    @include for-tablet {
      margin-right: 0;
    }
  }
}
