.header {
  padding: 36px 120px;
  max-width: 1455px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include for-small-desktop {
    padding: 36px;
    flex-wrap: wrap;
  }

  &__logo {
    margin-right: 98px;

    @include for-small-desktop {
      margin-right: 40px;
    }
  }
}
