.navigation {
  &__list {
    display: flex;
    gap: 20px;

    @include for-phone {
      gap: 10px;
    }
  }

  &__list-item {
    min-width: 82px;

    @include for-tablet {
      min-width: 50px;
    }

    @include for-phone {
      min-width: unset;
      width: fit-content;
    }
  }

  &__link {
    color: $purpure-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
  }
}
