.navigation {
  &__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    @include for-phone {
      gap: 10px;
    }
  }

  &__link {
    color: $purpure-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
  }
}
