.nft-item {
  width: 144px;
  position: relative;

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    position: absolute;
    top: 10px;
  }
}
