
.icon-gear:before {
  content: "\e91b";
  color: #CECECE;
}
.icon-open-arrow:before {
  content: "\e91c";
  color: #4d4d4d;
}
.icon-success:before {
  content: "\e919";
  color: #fff;
}
.icon-fail:before {
  content: "\e91a";
  color: #fff;
}
.icon-question:before {
  content: "\e918";
  color: #ff586c;
}
.icon-pin:before {
  content: "\e913";
}
.icon-arrow:before {
  content: "\e912";
  color: #cecece;
}
.icon-filter-validator:before {
  content: "\e900";
  color: #8d8d8d;
}
.icon-log-in:before {
  content: "\e901";
  color: #cecece;
}
.icon-account:before {
  content: "\e902";
  color: #fff;
}
.icon-charning:before {
  content: "\e903";
  color: #cecece;
}
.icon-clock:before {
  content: "\e904";
  color: #cecece;
}
.icon-close:before {
  content: "\e905";
  color: #fff;
}
.icon-earphons:before {
  content: "\e906";
  color: #2ec3e9;
}
.icon-galka:before {
  content: "\e907";
  color: #2ec3e9;
}
.icon-iconfile:before {
  content: "\e908";
  color: #cecece;
}
.icon-loop:before {
  content: "\e909";
  color: #fff;
}
.icon-marker:before {
  content: "\e90a";
  color: #fff;
}
.icon-plus-cir:before {
  content: "\e90b";
  color: #2ec3e9;
}
.icon-replace:before {
  content: "\e90c";
  color: #2ec3e9;
}
.icon-schems:before {
  content: "\e90d";
  color: #cecece;
}
.icon-setting:before {
  content: "\e90e";
  color: #cecece;
}
.icon-shield-gal:before {
  content: "\e90f";
  color: #cecece;
}
.icon-shield:before {
  content: "\e910";
  color: #ffae4f;
}
.icon-trash:before {
  content: "\e911";
  color: #cecece;
}
.icon-tree1:before {
  content: "\e914";
  color: #fff;
}
.icon-users1:before {
  content: "\e915";
  color: #cecece;
}
.icon-vilka1:before {
  content: "\e916";
  color: #cecece;
}
.icon-warning1:before {
  content: "\e917";
  color: #ff6c58;
}
