@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Thin.eot');
  src: url('../../assets/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto-Thin.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Thin.woff') format('woff'),
  url('../../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}